@page "/Reviews/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3 class="card-title">Create New Jobposts</h3>

<hr />
<br />
<@FormComponent ButtonText="Create Job Positng" review="review" OnValidSubmit="@CreateReview" />

@code{
    Review review = new Review();

    protected async Task CreateReview()
    {
        await _client.PostAsJsonAsync(Endpoint.ReviewEndpoint, review);
        _navManager.NavigateTo("/Reviews/");

    }
}
