@page "/jobapps/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@using JobApplicationWebsite_Project.Shared.Domain;
<h3 class="card-title">Car jobappss</h3>
@if (JobApps == null)
{
    <div class="alert alert-info"> Loading JobApps...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th> Name</th>
                <th> Actions</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var jobapps in JobApps)
            {
                <tr>
                    <td> @jobapps.Id </td>
                    <td>
                        <a href="/jobappss/view/@jobapps.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/jobappss/view/@jobapps.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(jobapps.Id))">

                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    private List<JobApplication> JobApps;
    protected async override Task OnInitializedAsync()
    {
        JobApps = await _client.GetFromJsonAsync<List<JobApplication>>($"{Endpoint.JobAppEndpoint}");
    }

    async Task Delete(int jobappsId)
    {
        var jobapps = JobApps.First(q => q.Id == jobappsId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {jobapps.Id}? ");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoint.JobAppEndpoint}/{jobappsId}");
            await OnInitializedAsync();
        }
    }

}
