@page "/"
<h1>Find your Dream job now!</h1>
<p>Job websites serve as the modern equivalent of classified ads by compiling and listing available telecommute and local openings. Equipped with millions of listings and additional resources like career coaching, resume tailoring, and blog posts full of helpful tips, using a job website is one of the best and most efficient ways to search for and apply to dozens of opportunities.

To find the best job websites to kick off your search, we looked at more than two dozen different job websites before selecting the top 10. We made our picks after considering the number of listings on each site, ease of use, costs, advanced features, industries and experience levels served, and reputation.
</p>
<img src="https://www.abc.net.au/reslib/201505/r1424801_20514575.jpg " style="width:500px;height:600px;" >

@code {

}
