@page "/"
@inject NavigationManager Navigation
<h1>Hello, world!</h1>

Welcome to the future.
hi Haowen
<SurveyPrompt Title="How is Blazor working for you? Hello" />
<button class="btn btn-primary" @onclick="GoToPage">Go To Sample PAge</button>

@code {
	private void GoToPage()
	{
		Navigation.NavigateTo("/samplepage");
	}
}