@page "/JobSearch"

<h1>Job_Search</h1>
<button class="btn btn-dark">Type of job</button>
<button class="btn btn-dark">Salary</button>
<button class="btn btn-dark">location</button>
<button class="btn btn-dark">Posted By</button>
<table class="table" border="1">
  
    <thead>
        <tr>
            <th>Job Listing</th>
            <th>Salary</th>
            <th>Location</th>
            <th>Company</th>
            <th>Job</th>
            
        </tr>
    </thead>
    <tbody>
       
        
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        
    </tbody>
</table>




@code {

}
