@page "/Select"
<h3>Landing</h3>
Please select whether you are a employer or a job seeker<br>
<button class="btn btn-dark">I am a employer</button>
<button class="btn btn-dark">I am a job seeker</button>
@code {

}
